body {
    width: 100%; 
    height: 100vh;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 0 auto;
    padding: 5px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(size, minmax(0, 1fr));
    grid-template-rows: repeat(size, minmax(0, 1fr));
    /* gap: 1px; */
    width: 100%; 
    height: 100%; 
  }

.grid-item {
    border: 1px solid black;
}
 
  @keyframes pulseOne {
    0% {
      background-color: red;
    }
    33% {
      background-color: rgb(255, 177, 0);
    } 
    50% {
      background-color: rgb(255, 177, 0);
    }
    100% {
      background-color: red;
    }
  }
  
  @keyframes pulseTwo {
    0% {
      background-color: red;
    }
    43% {
      background-color: rgb(255, 177, 0);
    } 
    60% {
      background-color: rgb(255, 177, 0);
    }
    100% {
      background-color: red;
    }
  }

  @keyframes pulseThree {
    0% {
      background-color: red;
    }
    53% {
      background-color: rgb(255, 177, 0);
    } 
    70% {
      background-color: rgb(255, 177, 0);
    }
    100% {
      background-color: red;
    }
  }

  .pulsating,.clear-button,.setColor-button {
    animation: pulseOne 5s infinite;
  }

   .wash-button{
    animation: pulseTwo 5s infinite;
  }

   .gridNumber-button{
    animation: pulseThree 5s infinite;
  }
  .clear-button, .setColor-button, .wash-button, .gridNumber-button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    min-width: 15px;
    min-height: 5px;
  }